.dex__main-swap_settings-slippage {
  border-radius: 10px;
  background: #28263a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 33rem;
  height: 30rem;
  z-index: 1000;
  border-radius: 20px;
}

.dex__main-swap_settings-slippage_back {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 20rem;
  height: 3rem;
}

.dex__main-swap_settings-slippage_arrow button {
  background: #28263a;
  color: white;
  border: none;
  cursor: pointer;
  opacity: 0.6;
}

.dex__main-swap_settings-slippage_x button {
  background: #28263a;
  color: white;
  border: none;
  cursor: pointer;
  opacity: 0.6;
}

.dex__main-swap_settings-slippage_arrow-active button {
  background: #28263a;
  color: white;
  border: none;
  cursor: pointer;
  opacity: 1;
}

.dex__main-swap_settings-slippage_x-active button {
  background: #28263a;
  color: white;
  border: none;
  cursor: pointer;
  opacity: 1;
}
