.connect__wallet {
  position: fixed;
  top: 5.5rem;
  width: 60%;
  height: 440px;
  background: #28263a;
  z-index: 1100;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow:
    0px 8px 14px 9px rgba(0, 0, 0, 0.2),
    inset -2px 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.connect__wallet-close button {
  cursor: pointer;
  background: #28263a;
  border: none;
  color: white;
  opacity: 0.4;
}
