.popup__window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed; /* or absolute */
  top: 115px;

  width: 90%;
  height: 550px;
  border-radius: 50px;
  z-index: 100;
}

.popup__window-up {
  background: var(--color-popup);
  padding: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.popup__window-down {
  background: var(--color-popup);
  padding: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-bottom-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.popup__window-up_app {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.popup__window-up_android {
  padding: 50px;
}

.popup__window-up_ios {
  padding: 50px;
}
