.popup__window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed; /* or absolute */
  top: 115px;

  width: 90%;
  height: 550px;
  border-radius: 50px;
  z-index: 100;
  box-shadow:
    0px 8px 14px 9px rgba(0, 0, 0, 0.2),
    inset -2px 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.popup__window-up {
  background: var(--color-popup);
  padding: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.popup__window-down {
  background: var(--color-popup);

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-bottom-right-radius: 20px;
  border-bottom-right-radius: 20px;
  gap: 2rem;
  padding: 2rem;
}

.popup__window-up_app {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.popup__window-up_android {
  padding: 1rem 1rem;
}

.popup__window-up_ios {
  padding: 1rem 1rem;
}

.popup__window-up_title h2 {
  font-size: 55px;
  text-align: center;
  font-weight: 700;
  font-family: var(--font-family);
  color: var(--color-h1);
}

.popup__window-up_text {
  font-size: 24px;
  text-align: center;
  font-weight: 500;
  font-family: var(--font-family);
  color: var(--color-h1);
}

.popup__window-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  gap: 0.5rem;
}

.popup__window-title {
  font-size: var(--font-size_h4);
  font-weight: var(--font-weight_h4);
  font-family: var(--font-family);
  color: var(--color-h4);
}
.popup__window-text {
  font-size: var(--font-size_p);
  font-weight: var(--font-weight_p);
  font-family: var(--font-family);
  color: var(--color-p);
}

.popup__window-close {
  position: absolute;
  right: 3rem;
  top: 1.5rem;
  border: hidden;
  cursor: pointer;
}
