* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  text-decoration: none;
}

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --font-family: "Manrope", sans-serif;
  --color-topbar: #030114;
  --color-dex: radial-gradient(circle at 50% 50%, rgba(9, 20, 13, 1) 0%, rgba(0, 0, 0, 1) 82%);
  --color-navbar: #ffffff;
  --color-main: #fafafa;
  --color-primary: #51c37f;
  --color-h1: #0e1c2d;
  --color-h4: #0e1c2d;
  --color-p: #5c6677;
  --color-popup: #f5f5f5;
  --font-size_h1: 50px;
  --font-size_h2: 42px;
  --font-size_h3: 35px;
  --font-size_h4: 26px;
  --font-size_p: 20px;
  --font-size_links: 20px;
  --font-weight_h1: 700;
  --font-weight_h4: 600;
  --font-weight_p: 500;
  --font-weight_links: 500;
}

.main__home {
  color: unset;
  text-decoration: none;
}

.main__home-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
