* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  text-decoration: none;
}

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --font-family: "Manrope", sans-serif;
  --color-topbar: #252525;
  --color-navbar: #ffffff;
  --color-main: #fafafa;
  --color-primary: #51c37f;
  --color-h1: #252525;
  --color-popup: #f5f5f5;
}

.Main__Home {
  color: unset;
  text-decoration: none;
}

.Main__Home-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
