.main__navbar_links {
  padding: 0rem 2.5rem;
  padding-left: 7rem;
  background: var(--color-navbar);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 5rem;
  border-bottom: 0.2px solid rgb(236, 239, 241);
}

.main__navbar-links_logo {
  padding-right: 2rem;
}

.main__navbar-links_container {
  display: flex;
  width: 70%;
  flex-direction: row;
  justify-content: flex-end;
}
.main__navbar-links-map,
.main__navbar-links-tools,
.main__navbar-links-buy,
.main__navbar-links-about,
.main__navbar-links-help {
  height: 5rem;
  display: flex;
  align-items: center;
}
.main_navbar-links_download {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.main__navbar-links_logo img {
  width: auto;
  height: auto;
  flex-shrink: 0;
}

.main__navbar-links_container a,
.main_navbar-links_download a {
  color: var(--color-h1);
  font-family: var(--font-family);
  text-transform: capitalize;
  text-align: right;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0 1rem;
  cursor: pointer;
}

.main_navbar-links_download button {
  background: var(--color-primary);
  color: var(--color-navbar);

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 60px;
  padding: 14px 20px;
  width: 168px;
  height: 55px;
  flex-shrink: 0;
}

.main__navbar-links_menu {
  margin-left: 1rem;

  display: none;
  position: relative;
}

@media (max-width: 1024px) {
  .main__navbar-links_menu {
    display: flex;
    padding-left: 50px;
  }
  .main__navbar_links {
    padding-left: 4rem;
  }
  .main__navbar-links_container,
  .main_navbar-links_download {
    display: none;
  }
}

@media (max-width: 550px) {
  .main__navbar_links {
    padding-left: 3rem;
  }

  .main__navbar-links_menu {
    display: flex;
    padding-left: 50px;
  }
}
